<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="appjsf">
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="hibernate.connection.datasource">java:comp/env/jdbc/appjsf</property>        
        <!-- -->
        <property name="hibernate.session_factory_name">appjsf</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.connection.shutdown">true</property>
        <!-- -->
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <property name="net.sf.ehcache.configurationResourceName">/ehcache-config.xml</property>
        <!-- -->
        <mapping class="entidades.Usuario"/>   
        <mapping class="entidades.Revisao"/> 
    </session-factory>
</hibernate-configuration>
